{% extends "labor_info_web/base.html" %}

{% block page_header %}
    <h1>Training resources</h1>
{% endblock page_header %}

{% block content %}
<div class="column">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Registered apprenticeship</h5>
            <p class="card-text">Registered Apprenticeships are jobs. Registered Apprenticeship is the 
                process of learning a skilled occupation through paid on-the-job training under the supervision 
                of a journey level craftperson or trade professional combined with related classroom instruction. 
                
                Texas has Registered Apprenticeships in occupations, ranging from the traditional construction trades 
                (plumbers, electricians, carpenters) to industrial (maintenance mechanic, tool and die) to 
                nontraditional (advanced manufacturing, healthcare, information security).
            </p>
            <a href="https://www.mynextmove.org/" 
            class="btn btn-primary mb-1">Not sure what career to choose?  Explore what to do for a living at MyNextMove.</a>
            <a href="https://www.apprenticeship.gov/apprenticeship-job-finder" 
            class="btn btn-primary">Access Registered Apprenticeship opportunities in your area, via Apprenticeship Finder</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Training & Education</h5>
            <p class="card-text">Find education opportunities, occupational or vocational training, vocational 
                rehabilitation, and other resources to help you develop your skills. Contact your Workforce 
                Solutions office for help.
            </p>
            <a href="https://www.twc.texas.gov/directory-workforce-solutions-offices-services" 
            class="btn btn-primary">Find your local Workforce Solutions offices</a>
        </div>
    </div>
  </div>
{% endblock content %}