{% extends 'labor_info_web/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>Unemployment Benefits Information</a></h3>
{% endblock page_header %}

{% block content %}
<div class="column">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Chatbot</h5>
            <p class="card-text">If you haven't tried it yet, TWC's chatbot can solve numerous issues.
                You can access the chatbot at the bottom right corner of TWC's main page at the link below.</p>
            <a href="https://www.twc.texas.gov" class="btn btn-primary">TWC's home page.</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Unemployment Specialist Contact Request</h5>
            <p class="card-text">If you need to speak with a unemployment specialist and have not been able to 
                get through, please complete the contact request form for assistance.
            </p>
            <a href="https://apps.twc.state.tx.us/EXTCBK/ecrs/contactInfo" class="btn btn-primary">Contact request</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Appeals</h5>
            <p class="card-text">For information regarding the status of an appeal pending with the Appeal Tribunal, 
                please email <a href = "mailto: appeal.status@twc.state.tx.us">Appeal Status</a>.  For information regarding an appeal to the Commission, please 
                email <a href = "mailto: commission.appeals@twc.state.tx.us">Commission Appeals</a>.  You can also visit the link below for more information about how 
                to file an appeal and the appeals process.
            </p>
            <a href="https://www.twc.texas.gov/jobseekers/how-appeal-decision" class="btn btn-primary">Appeal information</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Identity Theft and Fraudulent Claims</h5>
            <p class="card-text">For assistance and information regarding reporting identity theft issues 
                related to unemployment claims, please follow the link below.
            </p>
            <a href="https://www.twc.texas.gov/UI-ID-theft" class="btn btn-primary">Unemployment identity theft</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Contact the Office of the ____________</h5>
            <p class="card-text">If you've been unable to find a solution or have additional questions or concerns, 
                please complete the contact request form at the link below
            </p>
            <a href="{% url 'labor_info_web:contact_request' %}" class="btn btn-primary">Contact request</a>
        </div>
    </div>
  </div>
{% endblock content %}