{% extends 'labor_info_web/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>Workplace Issues</a></h3>
{% endblock page_header %}

{% block content %}
<div class="column">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Is my employer required to give me breaks?
            </h5>
            <p class="card-text">Currently, in most situations, Texas law does not require employers to give 
                employees break times.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Where can I report workplace safety concerns?</h5>
            <p class="card-text">Under the Occupational Safety and Health Act (OSHA) of 1970, employers are 
                responsible for providing safe and healthful workplaces for their employees. OSHA's role is 
                to ensure these conditions for America's working men and women by setting and enforcing standards, 
                and providing training, education and assistance. For more information, 
                visit the OSHA website or call 800-321-6742.
            </p>
            <a href="https://www.osha.gov/" class="btn btn-primary">Visit OSHA</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Who can I contact if I am injured at work?</h5>
            <p class="card-text">You may contact the Office of Injured Employee Counsel at 866-393-6432 
                or visit the OIEC website.
            </p>
            <a href="https://www.oiec.texas.gov/" 
            class="btn btn-primary">Visit the OIEC website</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Where can I report workplace harassment and discrimination?</h5>
            <p class="card-text">If you believe that you may have been the victim of discrimination or harassment, 
                you can contact the Equal Employment Opportunity Commission at the link below or by calling 800-669-4000 
                or the TWC's Civil Rights Division by calling 888-452-4778 or at their link below to 
                file a complaint or to further discuss your issues.
            </p>
            <a href="https://www.eeoc.gov/" class="btn btn-primary mb-1">Visit the EEOC website</a>
            <a href="https://www.twc.texas.gov/jobseekers/employee-rights-laws" 
            class="btn btn-primary">Visit the TWC CRD website</a>
        </div>
    </div>
  </div>
{% endblock content %}